.results-wrapper .result-card {
  border-radius: 5px;
  padding: 1rem 2rem;
  background: white;
}

.results-wrapper .result-card .created-at {
  font-size: 13px;
}

.results-wrapper .result-card .status {
  font-size: 13px;
}
